<h1>Log In</h1>

<%= form_tag '/login' do %>

<div id="login">

<%= email_field_tag :email, nil, :placeholder => 'Email' %>
<br>
<%= password_field_tag :password, nil, :placeholder => 'Password'%>
<br>
<br>
<div class="submit"> <%= submit_tag "Log In" %></div>
<br>
Don't have an account? <%= link_to "Sign Up", signup_path %> now

</div>

<% end %>