<h1>Sign Up to Colour Therapy</h1>

<div id="login">
<%= form_for(:user, url: '/users') do |f| %>

	<div id="name"><%= f.text_field :name, :placeholder => 'Name' %></div>
	<br>
	<div id="email"><%= f.email_field :email, :placeholder => 'Email'%></div>
	<br>
	<div id="password"><%= f.password_field :password, :placeholder => 'Password' %></div>
	<br>
	<div id="password_confirmation"><%= f.password_field :password_confirmation, :placeholder => 'Confirm Password' %></div>
	<br>
	<br>
	<div class="submit"><%= f.submit "Sign Up" %></div>
	Already have an account? <%= link_to "Log In", login_path %> now
</div>

<% end %>