<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<% @categories.each do |category| %>
<table>
  <thead>
    <tr>
      <th><%= link_to category.name, category %></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><div class="category-placeholder"></div></td>
<!--         <td><%= link_to 'Edit', edit_category_path(category) %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
  </tbody>
</table>
<% end %>
<br>

<!-- <%= link_to 'New Category', new_category_path %> -->
