<p id="notice"><%= notice %></p>

<h2>Start Colouring!</h2>

<div id="image">
  <%= @image.svg.html_safe %>
</div>



<div id="colorpicker"></div>

<div class="back"> 
	<%= link_to 'Back', categories_path %> 
	<div id="save"> <%= link_to 'Save', account_path %> </div>
</div> 

<%= link_to 'Edit', edit_image_path(@image) %>
<textarea id="svg-data"></textarea>

